$black: #000000;
$white: #effaf7;
$intense-white: #fff;
$gray: #bbb;
$light-gray: #bbc1cf;
$dark-gray: #333;
$medium-gray: #6c757d;
$dark-deep: #111;
$light-green: #398f3c;
$deep-green: #205822;
$welldev-orange-64: #ff6a1a;
$cloud-gray-96: #f1f4fb;
$light-cyan: #e0ffff;
$bright-cyan: #69dddd;
$red: #ff0000;
$royalblue: #4169e1;
$bg-primary: #007bff;
$bg-info: #17a2b8;
$deep-blue: #180666;
