<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-3">
      <h1 class="text-center title">Add New Video</h1>
      <br>
      <%= render 'form', course: @course%>
    </div>
  </div>
</div>
